.file-input {
    display: none;
}
.auswahlJsonFile {
    min-width: 300px;

}
#tierNamenLoeschen {
    position:relative;
    // left: 130px;
    min-width: none;
    padding: 0 10px 0 10px;
    margin-left: 10px;
    // float:none; // Anordnung auf der Zeile
}
#ausgabeNamen {
    padding: 10px;
}